<div class="container">
  <h1>Tareas del Proyecto {{ projectId }}</h1>

  <!-- Filters -->
 <form [formGroup]="formFilter">

  <div class="filters-container">

    <div class="filter-group">
      <label for="status">Filtrar por Estado</label>

      <select id="status" formControlName="status">

        <option [ngValue]="null">
          Seleccionar una opción
        </option>

        <option
          *ngFor="let item of tasksInformation"
          [ngValue]="item.statusTask"
        >
          {{ item.statusTask }}
        </option>

      </select>
    </div>


    <div class="filter-group">
      <label for="developer">Filtrar por Desarrollador</label>

      <select id="developer" formControlName="dev">

        <option [ngValue]="null">
          Seleccionar una opción
        </option>

        <option
          *ngFor="let item of devInformation"
          [ngValue]="item.developerId"
        >
          {{ item.fullName }}
        </option>

      </select>

    </div>

     <div class="filter-group">
        <button (click)="this.clearFilter()">Limpiar filtro</button>
    </div>

  </div>

</form>
  <br>
  <app-generic-table 
  [displayedColumns]="this.displayedColumns" 
  [data]="this.data" />
  <div class="box-btn">

    <button (click)="this.previousData()">Anterior</button>
    <button (click)="this.nextData()">Siguiente</button>
  </div>

</div>